<!DOCTYPE html>
<html lang="en">
<head>
<style>
div.ex1 {
  position: absolute;
  left: 100px;
  width: 1000px;
  height: 180px;
  border: 3px solid green;
}
</style>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body style="background-color:yellowgreen;color:black;">
<h2>
  <center>
    <u>**ABAKUS</u>Developers**
  </center>
</h2>
<marquee behaviour="alternate" speed="250">
<div class="ex1">Abacus is a cloud-based T&E solution that offers midsize teams a highly efficient way to track and control expenses,
reimburse employees, and book travel. Employees use a mobile app to submit expenses right when they happen.;</div>
<br></marquee>
<br><br><br><br><br>
<footer>
    ©&copy Abacus computers,Kerala
</footer>
</body>
</html>